.navbar{
    height: 77px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.navbar > i {
    font-size: 26px;
    box-sizing: border-box;
    padding: 0px 20px;
    
    border-right: 1px solid black;
}