.navbar{
    height: 52px;
    box-sizing: border-box;
    padding: 0px 20px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    color: #262626;
    font-weight: 100;
    z-index: 10;

}


.navbar > a {
    font-size: 26px;
    box-sizing: border-box;
    padding: 0px 20px;
    // color: black;
    color: #262626;
    font-weight: 100;

    // border-right: 1px solid black;
}


.navbar-righticons{
    box-sizing: border-box;
    padding: 0px 20px;
    color: hsl(0, 0%, 15%);
    font-weight: 100;
    display: flex;
    flex-wrap: none;
    align-items: center;
}


.navbar-righticons > i
{
    
    padding: 0px 10px;
    color: #262626;

    font-size: 24px;
    font-weight: 100;


} 
.navbar-righticons > a
{
    // color: black;
    color: #262626;

    padding: 0px 10px;
    font-size: 24px;
    font-weight: 100;
} 

.navbar-righticons > form > label{
    // color: black;
    color: #262626;

    padding: 0px 10px;
    font-size: 24px;
    font-weight: 100;

}


.contentpusher {
width: 100%;
height: 52px;
}

#uploadPhoto{
    display: none;
}