// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 600px) {
  div.postBox, div.postHeader, div.postFooter, div.postFooterComments, img.postPic, div.photoFormContainer{
    width: 100%;
  }
}


 

.postBox{
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-top: 0px;
    width: 600px;
    margin-bottom: 50px;
    padding-bottom: 0px;
    font-size: 0px;
}

.postHeader{
    padding: 16px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 600px;
    height: 60px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.postFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 600px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}


.postFooterComments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #e6e6e6;
    width: 600px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}

.commentFieldBox{
    box-sizing: border-box;
    padding: 0px 16px;
    border-top: 1px solid #e6e6e6;
    display: flex;
    width: 100%;
    min-height: 56px;
    max-height: 80px;

    justify-content: space-between;
    align-items: center;
}
.commentList{
    width: 100%,
}

.comment{
    padding: 0px 16px;
    color: black;
    word-wrap: break-word;
    padding-top: 6px;
    margin-right: -2px;
    padding-right: 2px;
    padding-bottom: 6px;
    
}

.date{
    padding: 0px 16px;
    margin-right: 4px;
    padding-right: 2px;
    padding-bottom: 8px;
    color: #999;
    font-size: 10px;
    letter-spacing: .2px;
    cursor: pointer;
}

.date > a{
    color: #999;
}
.comment > span{
    margin-right: 4px;
}

.commentField{
    box-sizing: border-box;
    border: none;
    padding: none;
    width: 100%;
    max-height: 80px;
    resize: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    background: inherit;
}

.commentField:focus{
    outline-width: 0;
}

.postHeader > div{
    display: flex;
    align-items: center;
}

.postHeader > i {
    cursor: pointer;
    font-size: 13px;
}

.posterUsername{
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.posterUsername:active{
    color: #999;
}

.postProfilePic{
    height: 34px;
    width: 34px;
    border-radius: 100%;
    border: 1px solid #e6e6e6;
    margin-right: 10px;
    object-fit: cover;
}

.postPic{
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    width: 600px;
    height: auto;
    box-sizing: border-box;

}

.userInfoPic{ 
    font-size: 0px; 
}


.postButton{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3897f0;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 5px;
    outline-width: 0;
    cursor: pointer;
}


.cancelButton{
    border: none;
    background-color: inherit;
    color: #f03838;
    width: 67px;
    height: 30px;
    padding: 5px 9px;
    border-radius: 4px;
    // position: relative;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 5px;
    outline-width: 0;
}


.photoFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    margin: 0px 0px;
    max-height: 100%;
    height: 100%;

}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.photoFormHeader{
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;

}

.photoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.previewPostImage{
    max-height: calc(100vh - 150px);
    max-width: 100%;
    height: auto;
    width: auto;
    border-top:  1px solid #e6e6e6;
}



.captionBox{
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    box-sizing: border-box;
    border: none;
    border-top:  1px solid #e6e6e6;
    width: 100%;
    padding: 12px;
    padding-bottom: 0px;
}

.captionField{
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 50px;
    resize: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    background: inherit;
}

.captionField:focus{
    outline-width: 0;
}



.photoShow{
    display: flex;
    align-self: center;
    flex-wrap: nowrap;
    max-height: 100%;
    max-width: 100%;
    z-index: 3;
    border: 1px solid #e6e6e6;
    border-left: none;
}

.photoShow > img {
    
    max-height: calc(100vh - 150px);
    max-width: calc(100vw - 302px);
    height: auto;
    width: auto;
    object-fit: contain;
}

.sideBarHeader{
    width: 302px;
    height: 100%;
    background-color: white;

}


.optionsHead{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    background-color: white;
    color: inherit;
    width: 244px;
    height: 39px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
}

.optionsDeleteHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 8px;
    background-color: white;
    color: inherit;
    width: 244px;
    height: 90;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
}

.deletePreview{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-top: 10px;
}

  
.optionsFoot{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4px 8px;
    width: 244px;
    height: 39px;
    border-bottom-right-radius: 12px;
    color: #262626;
    border-bottom-left-radius: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.optionsMiddle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4px 8px;
    width: 244px;
    height: 39px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    color: #f03838;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}