// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 600px) {
  div.postBox, div.postHeader, img.postPic {
    width: 100%;
  }
}


.postBox{
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-top: 0px;
    width: 600px;
    margin-bottom: 50px;
    padding-bottom: 0px;
    font-size: 0px;
}

.postHeader{
    margin-top: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #e6e6e6;
    width: 600px;
    height: 60px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.postProfilePic{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #e6e6e6;
    margin: 10px;
    object-fit: cover;
}

.postPic{
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    width: 600px;
    height: auto;
    box-sizing: border-box;

}