// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@media screen and (max-width: 600px) {
  div.animatedLogo {
    display: none;
  }
}

//animation based on tutorial from snook.ca
@keyframes animateLogo {
  0%   { opacity: 0; }
  8.33%   { opacity: 1; }
  25%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.loginform{
    background-color: white;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
}

.loginformfooter{
    background-color: white;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    margin: 0 0 10px;
    padding: 20px 0;
    display: flex;
    justify-content: center;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.loginerrors{
    list-style: none;
    padding-left: 0;
    list-style-type:none;
    color: red;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.loginform > form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputfields{
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    margin: 3px auto;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    background: #fafafa;
    border-radius: 4px;
    // position: relative;
    width: 268px;
    height: 36px;

}

.inputfields:focus{
    outline-width: 0;
    border: 1px solid #b1b1b1;

}

.or{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 248px;
    background-color: #ffffff;
    width: 20px;
    padding: 2px 5px;
    color: #5e5e5e;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    z-index: 3;

}

.orline {
    width: 268px;
    border-top: 1px solid #b1b1b1;
    opacity: 0.5;
    margin: 10px auto;
}


.submitbutton{
    border: none;
    background: #3897f0;
    color: white;
    width: 268px;
    height: 30px;
    padding: 5px 9px;
    border-radius: 4px;
    // position: relative;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 5px auto;
    outline-width: 0;
}

.demobutton{
    border: none;
    background: #f03838;
    color: white;
    width: 268px;
    height: 30px;
    padding: 5px 9px;
    border-radius: 4px;
    // position: relative;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 5px auto;
    outline-width: 0;
}

.signuplink{
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
    color: #3897f0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}


.instagraff {
    color: rgb(27, 27, 27);
    font-family: 'Cookie', cursive;
    text-align: center;
    font-weight: 100;
    // font-size: 45px;
    font-size: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin: 0px 0px;
}

.wholelogin{
    background: #fafafa;
    display: flex;
    width: fit-content;
    margin: 5px auto;
    align-items: center;
    height: 100vh;
    border: 0px;
}

.animatedLogo{
    width: 425px;
    height: 633px;
    border: 0px;
    position: static;
}

.loginimage{
    display: flex;
    width: 425px;
    // height: auto;
    top: 0;
    border: 0px;
    margin-bottom: -632px;
    object-fit: cover;

}


.animatedLogo > img { 
    opacity:0; 
    animation-name: animateLogo; 
    animation-duration: 12s; 
    animation-iteration-count: infinite; 
    border: 0px;

}

.animatedLogo img:nth-child(1) { animation-delay: 0s; }
.animatedLogo img:nth-child(2) { animation-delay: 3s; }
.animatedLogo img:nth-child(3) { animation-delay: 6s; }
.animatedLogo img:nth-child(4) { animation-delay: 9s; }